{
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
        /*"transform-react-inline-elements"*/
      ]
    }
  },
  "presets": ["react", "es2015", "stage-2", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "passPerPreset": true
}
