.form-panel-content {
    margin-left: 3%;
    margin-right: 3%;
}

.date-text {
    text-align: center;
}

.form-btn-group {
    /*display: block;*/
}

.helpblock-blk, .controllabel-blk {
    display: block;

}

.form-loader-container {
    width: auto;
    margin-right: 5px;
}

.import-form-submit {
    width: 100%;
}

.table-cancel-margin {
    margin: 0px;
}

/*.form-panel-content .dropdown.btn-group {
    width: 100%;
}*/
