.wrapper {
	background-color: #FEFEFE;
	color: #222222;
	max-width: 978px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header-refresh-icon {
	margin-left: 5%;
	font-size: 18px;
	width: 18px;
	height: 18px;
	transition: transform 1s ease;
}

.header-refresh-icon:hover {
	color: #ccc;
	transform: rotate(360deg);
}

.home__label {
	display: block;
	width: 100%;
	margin: 1em 0;
}

.home__input {
	margin-left: 0.5em;
	border-radius: 2px;
	border-width: 1px;
	border-color: grey;
	padding: 0.3em;
}

.search-container {
	margin-top: 2%;
}

.bs-suggestion-container {
	width: 100%;
}

.bs-suggestion-container  li {
	margin-bottom: 1em;
}

.bs-suggestion-container b {
	font-weight: 200;
	text-shadow: 1px 1px 0.5px;
	text-decoration: underline;
}
